Dockerfile
compose.yml
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
next-env.d.ts
out
build
doc
**/__screenshots__
.vitest-attachments
tsconfig.tsbuildinfo
__tests__
vitest.config.mts
vitest.d.ts
eslint.config.mjs
